/* .cart-product {
    background-color: rgb(55, 55, 55);
    text-align: center;
    color: azure;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
} */

.sc-image {
    width: 200px;
}

.t-top-row th {
    background-color: rgb(55, 55, 55);
    margin: 5rem;
    padding: 1rem;
    color: azure;
    font-family: Roboto;
}

.quantity-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.table-container {
    width: 100%;
    padding: 1rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.325);
}

.size-selector {
    width: 80px;
}

.shopping-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quantity-wrapper {
    border: 1px solid black;
}

.qty-btn {
    padding: 0px;
    background-color: aqua;
    min-height: 0;
    min-width: 0;
}

@media screen and (max-width: 600px) {
    .sc-image {
        width: 100px;
    }

    .qty-btn {
        padding: 0.1rem;
    }

    #size-label {
        display: none;
    }

    .t-top-row th {
        color: azure;
        font-family: Roboto;
        font-size: .8rem;
        margin: 2rem;
        padding: .2rem;
    }

    .size-selector {
        width: 70px;
    }

    .table-container {
        padding: 0;
        border: none;
    }

    .quantity-selector {
        gap: 0.25rem;
    }
}

.adress-div {
    background-color: rgb(55, 55, 55);
    padding: 1rem;
    color: azure;
    font-family: Roboto;
}

.adress-div p {
    background-color: rgb(55, 55, 55);
    padding: 1rem;
    color: azure;
    font-family: Roboto;
}

.adress-details-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.delivery-div {
    margin-top: 1rem;
    background-color: rgb(55, 55, 55);
    padding: 1rem;
    color: azure;
    font-family: Roboto;
}