.navbar-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(201, 211, 211);
}

.icon {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    gap: .2rem;
    align-items: center;
    font-family: Inter;
    font-size: small;
}