@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:wght@100;300;700&family=Nunito:wght@300;400;600&display=swap');

.card-div {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.card-title {
    top: -.4rem;
    font-family: Nunito;
    font-size: 2rem;
    position: absolute;
    color: rgb(241, 241, 241);
}
